@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --main-font: #fff;
    --second-font: #e9e9e9e0;
    --thrid-font: #f4f4f4e0;
}

body {
    background: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--main-font);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 30px;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

/* --------------------nav-----------------  */

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;

}



.logo {
    margin-left: 20px;
}

.menuIcon {
    display: none;
    z-index: 999;
}

.menuLists {
    padding: 0 80px 0 50px;
    display: flex;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.menuList {
    display: inline-block;
    align-self: center;
    padding: 20px 0;
    font-weight: normal;
    color: var(--thrid-font);
    font-size: 85%;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    text-decoration: none;

}

.mobile_view {
    transform: translateX(100%);
    transition: all .5s linear;
    display: none;
    position: absolute;
    top: 0;
    left: 30%;
    bottom: 0;
    right: 0;
    background: gray;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 99;
}

.mobile_view.menuLists {
    padding-top: 15%;
}

.menuList span {
    font-size: 90%;
    font-weight: 900;
    margin-right: 3px;
    color: var(--main-font);
}


.menuList.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -8px;
    background: #fff;
    border-radius: 10px;
}

/* --------------------nav-----------------  */

.heroContainer {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60vh;
}

.heroPargraph,
.heroButtonContainer {
    flex: 0 0 45%;
    height: auto;
}

.heroPargraph h1 {
    font-size: 450%;
    text-transform: uppercase;
    font-weight: normal;

    letter-spacing: 30px;
}

.heroPargraph h3 {
    font-size: 95%;
    text-transform: uppercase;
    word-spacing: 7px;
}

.heroPargraph p {
    font-size: 85%;
    line-height: 1.5;

}

.heroPargraph h3,
.heroPargraph p {
    font-weight: 600;
    color: var(--second-font);
}

.heroButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.heroButton {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    line-height: 150px;
    background: #fff;
    color: rgba(0, 0, 0, 0.544);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;

    font-size: 120%;
    transition: all .6s linear;
    cursor: pointer;
}

.heroButton:hover {
    box-shadow: 0px 0px 0px 30px #f4f4f455;

}


@media (max-width:767px) {
    body {
        background: url(../assets/home/background-home-tablet.jpg);
        background-position: center;
        background-size: cover;
        /* font-size: 14px;
        
         */
        font-size: 0.875rem;
        position: relative;

    }

    nav::before {
        display: none;
    }

    .container {
        padding-top: 20px;
    }

    .menuLists {
        padding: 0 2% 0 1%;
    }


    .heroContainer {
        display: block;
        padding: 0;
    }

    .heroButtonContainer {
        margin-top: 40px;
        height: auto;
    }

    .heroPargraph {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .heroButton {
        width: 150px;
        height: 150px;
        line-height: 150px;
    }

}



/* @media (max-width:642px) {
    body {
        background: url(../assets/home/background-home-tablet.jpg);
        background-position: center;
        background-size: cover;
        font-size: 13px;
        position: relative;
    }

    .heroContainer {
        margin-top: 40vh;
    }


    .heroButton {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
} */

@media (max-width:576px) {



    .heroPargraph {
        margin-bottom: 15%;
    }

    body {
        background: url(../assets/home/background-home-mobile.jpg);
        background-position: center;
        background-size: cover;
        font-size: 18px;
    }

    .heroPargraph h1 {
        font-size: 350%;

    }

    .heroContainer {
        margin-top: 0vh;
        bottom: 5%;
    }

    .menuIcon {
        display: block;
        margin-right: 20px;
        z-index: 99999999999999999999999999999999999999;
        position: relative;
    }


    .mobile_view.active {
        display: flex;
        animation: leftmove .5s linear forwards;
    }

    .mobile_view.nonactive {
        display: flex;
        animation: rightmove .5s linear forwards;

    }

    @keyframes leftmove {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0%);
        }
    }


    @keyframes rightmove {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(100%);
        }
    }

    .mobile_view .menuList {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 120%;
        margin: 20px 0;
    }

    .mobile_view .menuList {
        width: 80%;
        margin: 0 auto 15px auto;
    }


    .desktop_view {
        display: none;
    }
}

@media (max-width:360px) {
    body {
        background: url(../assets/home/background-home-tablet.jpg);
        background-position: center;
        background-size: cover;
        font-size: 14px;
        position: relative;

    }
}









/* 30FE */